.body {
    min-height: 100vh;
    position: relative;
    z-index: 2;

    & .nav {
        text-align: end;
        padding: 10px 100px;
        background-color: #121212;

        & a {
            margin-left: 20px;
            text-decoration: none;
            color: #fff;
        }
    }

    & .start {
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 50vh;
        max-width: 300px;
        background-color: #12121280;
        border-radius: 20px;
        text-align: center;
        padding: 20px;

        & .title {
            color: #fff;
        }

        & #btn-start {
            margin: auto;
            font-size: 18px;
            padding: 7px 20px;
            border-radius: 20px;
            background-image: linear-gradient(150deg, #9500ff, #09f, #00DDff);
            color: #fff;
            transition: transform 0.3s ease;
            border: none;
            max-width: 200px;

            &:hover {
                transform: scale(1.1);
            }

            & i {
                margin-left: 10px;
            }
        }
    }
}

.modal {
    border: none;
    min-width: 400px;
    border-radius: 15px;

    &::backdrop {
        background-color: rgba(99, 98, 98, 0.9);
    }

    &.modal__btn-submit {
        background-color: #000;
        color: #fff;
        padding: 4px 12px;
    }

}

.modal__text {
    & i {
        margin-right: 10px;
    }
}

.btn-category {
    font-size: 18px;
    padding: 6px 15px;
    border-radius: 20px;
    background-color: #98cfd3;
    filter: brightness(1.0);
    transition: filter 0.3s ease, transform 0.3s ease;
    margin: 0 5px;

    & i {
        margin-right: 10px;
    }

    &:hover {
        filter: brightness(1.2);
        transform: scale(1.1);
    }
}

#error-message {
    display: block;
    margin: 20px 0;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}