:root {
    --red: #ff4d4d;
}

.index-body {
    position: relative;
    z-index: 2;

    & .modal {
        border: none;
        min-width: 400px;
        border-radius: 15px;
        background: linear-gradient(#ff9999, #fff);

        &::backdrop {
            background-color: rgba(99, 98, 98, 0.9);
        }

        & .modal__content {
            font-size: 1.3em;

            & .modal__text {
                & i {
                    margin-right: 10px;
                }
            }

            & .input-register {
                font-size: 0.7em;
                padding: 0.5em 0.4em;
            }

            & .btn-category {
                font-size: 18px;
                padding: 6px 15px;
                background-color: #ff4d4d;
                filter: brightness(1.0);
                transition: filter 0.3s ease, transform 0.3s ease;
                margin: 0 5px;

                & i {
                    margin-right: 10px;
                }

                &:hover {
                    filter: brightness(1.2);
                    transform: scale(1.1);
                }
            }

            & .btn {
                border-radius: 20px;
            }

            & #login-error-message {
                display: block;
                margin: 20px 0;
            }

            /* From Uiverse.io by nikk7007 */
            & .btn-save {
                padding: 0.5em 1.2em;
                border: 2px solid var(--red);
                position: relative;
                overflow: hidden;
                background-color: transparent;
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;
                transition: .3s;
                z-index: 1;
                font-family: inherit;
                color: var(--red);
                border-radius: 20px;

                &::before {
                    content: '';
                    width: 0;
                    height: 300%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    background: var(--red);
                    transition: .5s ease;
                    display: block;
                    z-index: -1;
                }

                &:hover::before {
                    width: 105%;
                }

                &:hover {
                    color: #111;
                }
            }

        }

    }

    & .start {
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 50vh;
        max-width: 300px;
        background-color: #12121280;
        border-radius: 20px;
        text-align: center;
        padding: 20px;

        & .title {
            color: #fff;
        }

        & #btn-start {
            margin: auto;
            font-size: 18px;
            padding: 7px 20px;
            border-radius: 20px;
            background-image: linear-gradient(150deg, #C70039, #FF5733, #FF4500);
            color: #fff;
            transition: transform 0.3s ease;
            border: none;
            max-width: 200px;

            &:hover {
                transform: scale(1.1);
            }

            & i {
                margin-left: 10px;
            }
        }
    }
}

.video-bg-fire {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}