.body {
    min-height: 100vh;
    position: relative;
    z-index: 2;

    & .nav {
        text-align: end;
        padding: 10px 100px;
        background-color: #121212;

        & ul {
            padding: 0;
            margin: 0;
            & li {
                display: inline;
                margin: 0 20px;
                transition: padding 0.5s ease;

                & a {
                    padding: 10px;
                    text-decoration: none;
                    color: #fff;
                    &:hover {
                        color: #000;
                        background-color: #fff;
                        border-radius: 10px 25px;
                        padding: 2px 10px;
                    }
    
                }
            }
        }

    }
    & .modal {
        border: none;
        min-width: 400px;
        border-radius: 15px;
        background: 
        linear-gradient(#ff9999, #fff);
    
        &::backdrop {
            background-color: rgba(99, 98, 98, 0.9);
        }
    
        & .modal__content {
            & .modal__text {
                & i {
                    margin-right: 10px;
                }
            }
            
            & .btn-category {
                font-size: 18px;
                padding: 6px 15px;
                background-color: #ff4d4d;
                filter: brightness(1.0);
                transition: filter 0.3s ease, transform 0.3s ease;
                margin: 0 5px;
            
                & i {
                    margin-right: 10px;
                }
            
                &:hover {
                    filter: brightness(1.2);
                    transform: scale(1.1);
                }
            }
            & .btn {
                border-radius: 20px;
            }
            & #login-error-message {
                display: block;
                margin: 20px 0;
            }
            & .modal__btn-submit{
                background-color: #000;
                color: #fff;
                padding: 4px 12px;
            }
        }
    
    }
    & .start {
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 50vh;
        max-width: 300px;
        background-color: #12121280;
        border-radius: 20px;
        text-align: center;
        padding: 20px;

        & .title {
            color: #fff;
        }

        & #btn-start {
            margin: auto;
            font-size: 18px;
            padding: 7px 20px;
            border-radius: 20px;
            background-image: linear-gradient(150deg, #C70039, #FF5733, #FF4500);
            color: #fff;
            transition: transform 0.3s ease;
            border: none;
            max-width: 200px;

            &:hover {
                transform: scale(1.1);
            }

            & i {
                margin-left: 10px;
            }
        }
    }
}
.video-bg-fire {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}